.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1c2c21a0;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-calculator {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #7c9093;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.653);
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
